<!DOCTYPE html>
<html>
    <head>
        <title>Image Classifier</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"/>
        <script src="{{ url_for('static', filename='myscript.js') }}"></script>
    </head>
    <body>

        <div id = "project_name">
            <p><h1>
                <i class="material-icons md-48">
                    image_search
                </i>
                Multimedia Search
            </h1></p>
        </div>
            
        <!-- <div id = 'query_image'>
            <img src="{{ url_for('static', filename=image_path) }}" alt="Image">
        </div> -->
    
        <form action="load" method="POST" enctype="multipart/form-data">

            <div id="upload_img">
                <input type="file" id="file" name="input_file" accept="image/*"/>
                <label for="file">
                    <i class="material-icons">
                        add_photo_alternate
                    </i>
                    Upload an image
                </label>
            </div>
            
            <div id = 'descriptors'>
                <input type="checkbox" id="checkBox_BGR" name="checkBox_name" value="checkBox_BGR" onchange="showDropdown(this.id)">BGR<br>
                <input type="checkbox" id="checkBox_HSV" name="checkBox_name" value="checkBox_HSV" onchange="showDropdown(this.id)">HSV<br>
                <input type="checkbox" id="checkBox_SIFT" name="checkBox_name" value="checkBox_SIFT" onchange="showDropdown(this.id)">SIFT<br>
                <input type="checkbox" id="checkBox_ORB" name="checkBox_name" value="checkBox_ORB" onchange="showDropdown(this.id)">ORB<br>
                <input type="checkbox" id="checkBox_GLCM" name="checkBox_name" value="checkBox_GLCM" onchange="showDropdown(this.id)">GLCM<br>
                <input type="checkbox" id="checkBox_LBP" name="checkBox_name" value="checkBox_LBP" onchange="showDropdown(this.id)">LBP<br>
                <input type="checkbox" id="checkBox_HOG" name="checkBox_name" value="checkBox_HOG" onchange="showDropdown(this.id)">HOG<br>
            </div>

            <select id="dropdown_BGR" name="dropdown_BGR" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>

            <select id="dropdown_HSV" name="dropdown_HSV" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>

            <select id="dropdown_GLCM" name="dropdown_GLCM" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>

            <select id="dropdown_HOG" name="dropdown_HOG" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>

            <select id="dropdown_HOG" name="dropdown_HOG" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>

  
            <select id="dropdown_SIFT" name="dropdown_SIFT" style="display:none">
                <option value="Brute_force" selected>Brute force</option>
                <option value="Flann">Flann</option>
            </select>
     
          
            <select id="dropdown_ORB" name="dropdown_ORB" style="display:none">
                <option value="Brute_force" selected>Brute force</option>
                <option value="Flann">Flann</option>
            </select>
        
            <div id = 'top'> 
                <label for="number">Top:</label>
                <input type="number" id="number" name="number" min="5" max="100" step="1" value="20">
            </div>
            
            <button id='descripteur' type="submit">Select descriptor</button>
        </form>


    </body>
</html>