<!DOCTYPE html>
<html>
    <head>
        <title>Image Classifier</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"/>
        <script src="{{ url_for('static', filename='myscript.js') }}"></script>
    </head>
    <body>

        <div id = "project_name">
            <p><h1>
                <i class="material-icons md-48">
                    image_search
                </i>
                Multimedia Search
            </h1></p>
        </div>
            
        <div id = 'query_image'>
            <img src="{{ url_for('static', filename=image_path) }}" alt="Image">
        </div>
    
        <form action="mir" method="POST" enctype="multipart/form-data">

            <div id="upload_img">
                <input type="file" id="file" name="input_file" accept="image/*"/>
                <label for="file">
                    <i class="material-icons">
                        add_photo_alternate
                    </i>
                    Upload an image
                </label>
            </div>
            
            <div id = 'descriptors'>
                <input type="checkbox" id="checkBox_id" name="checkBox_name" value="checkBox_HistC" onchange="showDropdown()">BGR<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_HSV">HSV<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_SIFT">SIFT<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_ORB">ORB<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_GLCM">GLCM<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_LBP">LBP<br>
                <input type="checkbox" name="checkBox_name" value="checkBox_HOG">HOG<br>
            </div>

            <select id="dropdown_BGR" style="display:none">
                <option value="Euclidienne" selected>Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chicarre">Chicarre</option>
                <option value="Intersection">Intersection</option>
                <option value="Bhattacharyya">Bhattacharyya</option>
            </select>
            
            <div id = 'distances_BGR'>
                <select id="dropdown" style="display:none">
                    <option value="Euclidienne" selected>Euclidienne</option>
                    <option value="Correlation">Correlation</option>
                    <option value="Chicarre">Chicarre</option>
                    <option value="Intersection">Intersection</option>
                    <option value="Bhattacharyya">Bhattacharyya</option>
                </select>
            </div>

            <div id = 'distances_SIFT' style="display:none">
                <select id="dropdown">
                    <option value="Brute_force" selected>Brute force</option>
                    <option value="Flann">Flann</option>
                </select>
            </div>
          
            <div id = 'distances_ORB' style="display:none">
                <select id="dropdown">
                    <option value="Brute_force" selected>Brute force</option>
                    <option value="Flann">Flann</option>
                </select>
            </div>

            <div id = 'top'> 
                <label for="number">Top:</label>
                <input type="number" id="number" name="number" min="5" max="100" step="1">
            </div>
            
            <button id='descripteur' type="submit">Select descriptor</button>
        </form>


    </body>
</html>