<!DOCTYPE html>
<html>
    <head>
        <title>Image Classifier</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}"/>
    </head>
    <body>

        <form action="upload_zip" method="POST" enctype="multipart/form-data">
            <button id='navigation' type="submit">Upload a zip</button>
        </form>

        <p><h1>
            <i class="material-icons md-48">
            image_search
            </i>
            Multimedia Search
        </h1></p>

       
    
    </body>
</html>